<div class="about-section">
    <h1>About Us</h1>
    <h3>Online Plant Nursery</h3>
    <p>Our Online Plant Nursert sells plant Products to other Billion's of Customers. 
        It is a B2B company. The company currently has 10 offices in the India
        (Banglore as headquater,Noida,Chennai,Mumbai,Hyderabad,Jaipur,Pune,Coimbatore,Delhi,Patna)
         and have been selling Electronics Products in other countries also, like US, UK and Australia through online sales on its website. The fulfilment of delivery is done by local distribution centers.The company is planning to expand by establishing new offices because the sales growth in these countries has been increasing over the last 3 years. The locations are:
        Washington, USA
        Jaipur, India
        Cannes, France
        Berlin, Germany
        Cape Town, Australia
        </p>
    
  </div>
